canary:
  enabled: true

telegram:
  bot.username: covid19_india_alerts_bot
  db.path: /tmp/telegram.db

visualization:
  url: http://localhost:8403

spring:
  kafka:
    streams:
      application-id: "org.covid19.patient-telegram-bot"
      client-id: "org.covid19.patient-telegram-bot-client"
      bootstrap-servers: "localhost:9092"
      cache-max-size-buffering: 0
      state-dir: "/tmp"
    consumer:
      group-id: "org.covid19.patient-telegram-bot-consumer"
      client-id: "org.covid19.patient-telegram-bot-consumer-client"
      bootstrap-servers: "localhost:9092"
      max-poll-records: 100
      auto-offset-reset: earliest
    producer:
      client-id: "org.covid19.patient-telegram-bot-user-request-producer"
      bootstrap-servers: "localhost:9092"
